<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agoradesk.app"
    android:allowBackup="false"
    android:fullBackupContent="@xml/backup_rules">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

  <uses-permission
      android:name="com.google.android.gms.permission.AD_ID"
      tools:node="remove" />

  <uses-sdk
      android:minSdkVersion="23"
      android:targetSdkVersion="33" />

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application
      android:name="${applicationName}"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round">

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/launch_push" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/brand_color" />

    <receiver
        android:name="androidx.media.session.MediaButtonReceiver"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <activity
        android:name="io.flutter.embedding.android.FlutterFragmentActivity"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:launchMode="singleTask"
        android:theme="@style/Theme.AppCompat.DayNight"
        android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name=".MainActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>

      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- App Links Main -->
      <intent-filter
          android:autoVerify="true"
          android:priority="@string/links_priority">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="@string/app_host"
            android:scheme="https" />
      </intent-filter>
      <!-- Second App Links (AD <> LM) -->
      <intent-filter
          android:autoVerify="true"
          android:priority="@string/links_priority">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="@string/app_host_2"
            android:scheme="https" />
      </intent-filter>
    </activity>

    <receiver
        android:name=".MoneroWidget"
        android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget_info" />
    </receiver>


    <service
        android:name="com.pravera.flutter_foreground_task.service.ForegroundService"/>
    <service
        android:name=".UpdateMoneroPriceService"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false"/>

    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
  </application>

</manifest>
